#divForExperience {
    display: flex;
    gap: 2vw;
    height: 40vw;
}

#producerButtons {
    width: 30vw;
    height: 30vw;
    position: relative;
    top: 7vw;
    left: 2vw;
}

.prodButtons {
    width: 13vw;
    margin: 1vw;
    cursor: pointer;
    height: 4vw;
    border-radius: 40vw;
}

#textDivForExperience p {
    font-size: 16px;
}

.experienceHeadline h2 {
    text-align: end;
    margin: 0;
}

.expText {
    position: relative;
    left: 32.5vw;
    top: 2.5vw;
}

.expHL {
    color: var(--pink);
}

#wrapInExperience {
    padding: 0 4rem;
}