#divForExperience {
    display: flex;
    gap: 2vw;
    height: 43vw;
}

#producerButtons {
    width: 30vw;
    height: 39vw;
    position: relative;
    top: 8vw;

}

.prodButtons {
    width: 13vw;
    margin: 1vw;
    cursor: pointer;
    height: 4vw;
    border-radius: 40vw;
}

#textDivForExperience p {
    font-size: 1.5vw;
}