#footerDiv {
    background-size: cover;
    background-position: bottom;
    padding: 0 4rem;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.FHL,
.FHLRaves {
    color: var(--pink);
}

.FHLTrance {
    color: var(--trance-ab);
}

.FHLXtas {
    color: var(--xtas-produktioner);
}

.FHLNever {
    color: var(--neverending-ab);
}

.FHLRaves {
    font-weight: 800;
}

#footerHeadline {
    text-align: center;
    margin-top: 6vw;
}

#footerInfo {
    width: 75vw;
    line-height: 1.5;
    margin-bottom: 6vw;
}

.footerLogo {
    color: var(--pink);
    font-weight: 800;
}

#footerContactCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerContactText {
    color: var(--blue);
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

#footerContactInfo {
    border: 4px solid var(--blue);
    box-shadow: 0px 0px 8px rgba(8, 211, 254, 0.55);
    color: var(--pink);
    padding: 1rem;

    text-align: center;
    font-size: 24px;
    font-weight: 600;
}