.totalGigsCon {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 0 4rem;
}

.totalGigsHighlight {
    color: var(--purple);
}

.totalGigsSvgCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.totalGigsText i {
    font-size: 10px;
}

.totalGigsText {
    max-width: 35%;
    margin: 0;
}