.totalGigsCon {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.totalGigsHighlight {
    color: var(--purple);
}

.totalGigsSvgCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalGigsText i {
    font-size: 10px;
}