.incomeCon {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.incomeCon .highlight {
    color: var(--pink);
}

.incomeSvgCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.incomeSvgCon text {
    text-transform: uppercase;
}

.incomeText {
    max-width: 35%;
    margin: 0;
}