@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Bungee+Inline&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Julius+Sans+One&family=Orbitron:wght@400..900&family=Russo+One&family=Saira+Stencil+One&family=Unica+One&display=swap');

:root {
    --pink: #FF5BAA;
    --purple: #9C67FF;
    --blue: #08D3FE;
    --dark-purple: #261D3E;
    --off-black: #161222;
    --black: #060606;
    --white: #FFFFFF;
    --gigskaparna: #FFC700;
    --festen-ab: #FF7A00;
    --trance-ab: #00FFC8;
    --nattmingel-ab: #FF66C4;
    --neverending-ab: #00F0FF;
    --no-mind-ab: #A6FF00;
    --banzai-ab: #FF003C;
    --xtas-produktioner: #DA00FF;
    --finliret-ab: #FFD6E8;
}

@font-face {
    font-family: 'SUSE-Bold';
    src: url('media/fonts/suse/SUSE-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUSE-Regular';
    src: url('media/fonts/suse/SUSE-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'SUSE-Regular';
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SUSE-Bold';
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    gap: 13vw;
}

.responsive-svg {
    width: 90vw;
}