:root {
    --pink: #FF5BAA;
    --purple: #9C67FF;
    --blue: #08D3FE;
    --dark-purple: #261D3E;
    --off-black: #161222;
    --black: #060606;
    --white: #FFFFFF;
    --gigskaparna: #FFC700;
    --festen-ab: #FF7A00;
    --trance-ab: #00FFC8;
    --nattmingel-ab: #FF66C4;
    --neverending-ab: #00F0FF;
    --no-mind-ab: #A6FF00;
    --banzai-ab: #FF003C;
    --xtas-produktioner-ab: #DA00FF;
    --finliret-ab: #FFD6E8;
}