#transitionCon {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
    position: relative;
}

#transitionBg {
    width: 100vw;
    position: absolute;
    top: -6.5rem;
    z-index: -1;
    left: -4rem;
    height: 40vh;
    border-radius: 50% 50% 0 0;
    background: linear-gradient(180deg, var(--dark-purple) 0%, var(--black) 75%);
}

.transitionProducers {
    color: var(--blue);
    text-shadow: 0px 0px 8px rgba(8, 211, 254, 0.55);
}