#transitionCon {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 10vh;
    position: relative;
}

#transitionImg {
    width: 100vw;
    position: absolute;
    top: -6.5rem;
    z-index: -1;
    left: -4rem;
}

.transitionProducers {
    color: var(--blue);
    text-shadow: 0px 0px 8px rgba(8, 211, 254, 0.55);
}