#divForAttendance {
    display: flex;
    gap: 2vw;
    height: 40vw;
}

#producerButtonsAtt {
    width: 30vw;
    height: 30vw;
    position: relative;
}

.prodButtonsAtt {
    width: 13vw;
    margin: 0.7vw;
    cursor: pointer;
    height: 4vw;
    border-radius: 40vw;
}

.attendanceHeadlineHL {
    color: var(--pink);
}

.cityHeadline {
    text-align: center;
    margin-bottom: 10vw;
}

.attendanceText {
    position: relative;
    left: 0.5vw;
    top: 3vw;
}

#wrapAttendance {
    padding: 0 4rem;
    position: relative;
}