#divForAttendance {
    display: flex;
    gap: 2vw;
    height: 40vw;
}

#producerButtonsAtt {
    width: 30vw;
    height: 30vw;
    position: relative;
    top: 7vw;
}

.prodButtonsAtt {
    width: 13vw;
    margin: 0.7vw;
    cursor: pointer;
    height: 4vw;
    border-radius: 40vw;
}

#textDivForAttendance p {
    font-size: 16px;
}

.attendanceHeadlineHL {
    color: var(--pink);
}

.cityHeadline {
    text-align: center;
    margin-bottom: 10vw;
}

#wrapAttendance {
    padding: 0 4rem;
}