#producersCon {
    position: relative;
    padding: 0 4rem;
}

#innerProducersCon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 2rem;
    place-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}