#headerDiv {
    background-image: url("../../media/images/heroSectionFinal.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
}

#raveLine {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#raveLine p {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 8vw;
}

#rave {
    height: 21vw;
    width: 90vw;
    margin-left: 9vw;
    margin-top: 8.5vw;
}

#line {
    height: 2.5vw;
    width: 50vw;
}

#nav {
    display: flex;
    justify-content: end;
    gap: 3vw;
    height: 3vw;
    color: var(--pink);
    margin-right: 3.5vw;
    margin-top: 1.9vw;
}

#nav p {
    cursor: pointer;
    font-size: 15px;
}

#nav p:hover {
    color: var(--purple);
}